{% include 'head.html' %}
<script type="text/javascript">
$(document).ready(function() {
    $('#submit').click(function(){
        if($("#next_user").length>0){
            var next_user = $("#next_user").children('option:selected').val();
            if(next_user==''){
                alert('请选择审批人');
                return false;
            }
        }
        /*var message = check_submit();
        if(message) {
            alert(message);
            return false;
        }*/
        if(confirm("确认提交吗？")){ 
            $.post("{% url 'workflow:ajax_task' %}", $("form").serialize(), function(json){ 
                alert(json);
		window.location = document.referrer;
            });
	    return false;
        }
        return false;
    });
});
</script>
<div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps anchor">
                        <li>
                          <a href="#step-1" class="done" isdone="1" rel="1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              第一步<br>
                                              <small>填写表单</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2" class="disabled" isdone="0" rel="2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              第二步<br>
                                              <small>等待审批</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3" class="disabled" isdone="0" rel="3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              第三步<br>
                                              <small>审批完成</small>
                                          </span>
                          </a>
                        </li>
                      </ul>
                      </div><div id="step-2" class="content" style="display: none;">
                      </div><div id="step-3" class="content" style="display: none;">
</div>
<div class="ln_solid"></div>
<div class="adminTable">
<div class="infoForm">
<h3>申请人信息</h3>
<label class="control-label" for="inputEmail">姓名</label>
<input id="creator_name" name="creator_name" type="text" class="form_2 searchIpnutBtn" value="{{ user.last_name }}" readonly="true">
<label class="control-label" for="inputEmail">邮箱</label>
<input id="creator_mail" name="creator_mail" type="text" class="form_2 searchIpnutBtn" value="{{ user.email }}" readonly="true">
<form id="infoForm">
<input id="act" name="act" type="hidden" class="form_2 searchIpnutBtn" value="add">
<input id="next_role_id" name="next_role_id" type="hidden" class="form_2 searchIpnutBtn" value={{ next_role_id }}>
<input id="creator" name="creator" type="hidden" class="form_2 searchIpnutBtn" value="{{ creator }}">
<input id="task_id" name="task_id" type="hidden" class="form_2 searchIpnutBtn" value="{{ task_id }}">
<input id="work_order_id" name="work_order_id" type="hidden" class="form_2 searchIpnutBtn" value={{ work_order_id }}>
</div>
</div>
{% include template_name %}  
</form>
<div class="adminTable">
<div class="infoForm">
<h3>流程</h3>
START->{{work_order_flow|get_flow_names}}->{{ role_dict.0 }}->END
</div>
</div>
<div class="adminTable">
<div class="infoForm">
<h3>处理人意见</h3>
{% for row in task_log %}
<label class="control-label" for="inputEmail">{{ row.create_time}}  {{ role_dict|get_item:row.role_id }}:{{ row.username }}({{ act_type_dict|get_item:row.act_type }})</label><br>
<label class="control-label" for="inputEmail">{{ row.act_opinion }}</label><br><br>
{% endfor %}
</div>
</div>
{% include 'tail.html' %}
