{% include 'head.html' %}
<script type="text/javascript">
$(document).ready(function() {
    $('#submit').click(function(){
        if($("#next_user").length>0){
            var next_user = $("#next_user").children('option:selected').val();
            if(next_user==''){
                alert('请选择审批人');
                return false;
            }
        }
        var message = check_submit();
        if(message) {
            alert(message);
            return false;
        }
        if(confirm("确认提交吗？")){
            $.post("{% url 'workflow:ajax_task' %}", $("form").serialize(), function(json){
                alert(json);
                if (window.opener && !window.opener.closed) {
                    window.parent.opener.location.reload();
                }
                window.close();
            });
        }
        return false;
    });
});
</script>
<div class="x_panel">
<fieldset>
                                    <legend> {{title_user}} </legend>
                           
                                    <div class="field-group">
                                        <label class="required title" for="request_name"><font color="red">*</font>申请人:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input name="request_name" type="text" class="medium-140" id="request_name" value="{{ user.last_name }}">
                                        <span class="required title" for="request_mail"><b><font color="red">*</font>邮箱:</b></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input name="request_mail" type="text" class="medium-140" value="{{ user.email }}" readonly="true">               
                                    </div> 
        
                                </fieldset>
</div>
<div class="x_panel">
<div style="float:left;width:800px;">
	<fieldset> 
		<legend >{{title_text}}</legend>
		
                       <div class="field-group">
				<input name="selectNode" id="selectNode" type="hidden" value=""> <input type="hidden" name="requestRole" value="1">  
			 <!--                             工单查看展示部分                             -->
			 
  例:<br> 
xx项目申请2台tomcat机器<br> 
cpu 2核<br> 
内存 4G<br> 
硬盘 100G<br> 
外网带宽 1M <br> <hr>
			  申请原因及数量： <br>  <textarea cols="8" name="remark" id="remark" style="width: 600px; height: 200px; resize: none; max-width: 612px;" value=""></textarea>
								
								
								  
   <div class="field-group" id="resource_infos2">
<input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage">
</div>
	  <div id="need_tempt" style="display:none;">
   <div class="field-group"> 选择附件: 
 <input type="file" name="upfile[]"> </div>
 </div>
   
             	
	</div></fieldset>
</div>
</div>
<button id="submit" type="submit" class="btn btn-round btn-success">确认发送</button>
<button type="button" class="btn btn-round btn-success">返回</button>
{% include 'tail.html' %}
